<h1> Money Tracker! </h1>

<% @transactions.each do |transaction| %>
<p> Date: <%= transaction.date %> </p>
<p> £<%= transaction.amount %> </p>
<p> Merchant: <%= transaction.find_merchant.name %> </p>
<p> Category: <%= transaction.find_category.name %> </p>
<hr>
<% end %>
