<!DOCTYPE html>
<html>
<head>
  <title>Money tracker</title>
  <%# TODO Stylesheet %>
  <%# <link rel="stylesheet" href="/style.css"> %>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/merchants/new"> New Merchant </a></li>
      <li><a href="/categories/new"> New Category </a></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>