<h1> Edit this category! </h1>

<form method="POST" action="/categories/<%= @category.id %> ">
  <div class="form-wrapper">
    <div class="form-el">
      <label for="name"> Category name: </label>
      <input type="text" name="name" id="name" value="<%= @category.name %>" />
    </div>
  
    <div>
      <input type="submit" value="Edit category" />
    </div>

  </div>
</form>