<h1> Create a new category! </h1>

<form method="POST" action="/categories">
  <div class="form-wrapper">
    <div class="form-el">
      <label for="name"> Category name: </label>
      <input type="text" name="name" id="name" />
    </div>
  
    <div>
      <input type="submit" value="Create category" />
    </div>

  </div>
</form>