body {
	background-color: #6a9bc3;
	color: azure;
}

h1 {
	color: peachpuff;
}

a {
	color: peachpuff;
}

#red {
	color: #b41435;
	font-weight: bolder;
}

.green {
	color: #0d7862;
	font-weight: bolder;
}