<h1> Create a new Transaction! </h1>

<form method="POST" action="/transactions">
  <div class="form-wrapper">
    <div class="form-el">
      <label for="date">Date: </label>
      <input type="date" name="date" id="date" />
    </div>

    <div class="form-el">
      <label for="amount"> Amount: </label>
      <input type="number" placeholder="0.00" name="amount" min="0" value="0" step="0.01" id="amount" />
    </div>
  
    <div class="form-el">
      <label for="merchant"> Merchant: </label>
      <select name="merchant_id" id="merchant" >
        <% @merchants.each do |merchant| %>
        <option value=<%= merchant.id %>><%= merchant.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="merchant"> Category: </label>
      <select name="category_id" id="category" >
        <% @categories.each do |category| %>
        <option value=<%= category.id %>><%= category.name.capitalize %></option>
        <% end %>
      </select>
    </div>
  
    <div>
      <input type="submit" value="Create transaction" />
    </div>

  </div>
</form>